/* line 6, ../sass/animation.scss */
.animation-fast {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 7, ../sass/animation.scss */
.animation-medium {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

/* line 8, ../sass/animation.scss */
.animation-slow {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 10, ../sass/animation.scss */
.fast-text {
  color: rgba(255, 255, 255, 0);
  text-shadow: rgba(255, 255, 255, 0) -2rem 0 0, rgba(255, 255, 255, 0) -4rem 0 0, rgba(255, 255, 255, 0) -8rem 0 0;
}

/* line 14, ../sass/animation.scss */
.fast-text-animation {
  text-shadow: rgba(22, 22, 22, 0.5) 0 0 0, rgba(22, 22, 22, 0.5) 0 0 0, rgba(22, 22, 22, 0.5) 0 0 0;
}

/* line 17, ../sass/animation.scss */
.box {
  display: block;
  border: 1px solid #666;
  width: 68px;
  height: 68px;
  margin: 16px;
  float: left;
  opacity: 0;
}

/* line 26, ../sass/animation.scss */
.box-animation {
  position: relative;
  background-color: #fff;
}

/* line 30, ../sass/animation.scss */
.rotate-container {
  perspective: 800px;
  transform-style: preserve-3d;
}
/* line 33, ../sass/animation.scss */
.rotate-container .rotate {
  color: rgba(255, 255, 255, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: -50% 50%;
  -moz-transform-origin: -50% 50%;
  -ms-transform-origin: -50% 50%;
  -o-transform-origin: -50% 50%;
  transform-origin: -50% 50%;
}
/* line 41, ../sass/animation.scss */
.rotate-container .rotate-animation {
  color: #161616;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
